<div ng-controller="navController"> <!-- navbar landing page --> <!--
    <nav class="navbar navbar-fixed-top lp" role="navigation" ng-if="$location.path()=='/'">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/#/deals" offset="80" du-smooth-scroll du-scrollspy>
                    <img src="images/shparnold-icon.14f98a1c.png"/>
                    <span class="hidden-xs">Crosho</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="js-navbar-collapse">
                <ul class="nav navbar-nav navbar-right hidden-xs" id="navigation">
                    <li class="hidden"><a href="#" scroll-to="_footer"></a></li>
                    <li><a href="#_what-is-crosho" offset="50" du-smooth-scroll du-scrollspy class="hvr-overline-reveal hvr-fade"><span class="">Was ist Crosho?</span></a></li>
                    <li><a href="#_how-it-works" offset="50" du-smooth-scroll du-scrollspy="_how-it-works" class="hvr-overline-reveal hvr-fade"><span class="">So funktionierts</span></a></li>
                    <li><a href="#_the-benefits" offset="50" du-smooth-scroll du-scrollspy="_the-benefits" class="hvr-overline-reveal hvr-fade"><span class="">Dein Nutzen</span></a></li>
                    <li><a href="#_contact" offset="50" du-smooth-scroll du-scrollspy="_contact" class="hvr-overline-reveal hvr-fade"><span class="">Kontakt</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
--> <!-- navbar desktop app --> <nav class="navbar dt-app" role="navigation"> <!-- removed ng-if="$location.path()!='/' && !any() " --> <div class="container"> <div class="navbar-header"> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand logo" href="#_slider" offset="80" du-smooth-scroll du-scrollspy> <img src="images/shparnold-icon.14f98a1c.png"> <span>Crosho</span> </a> <p class="navbar-text navbar-right visible-xs"><!--<a class="navbar-link sofunzt" style="cursor:pointer;">So funktioniert's</a>&nbsp;--><a href="/#/faq" class="navbar-link" onclick="ga('send', 'event', 'Website', 'faq')">FAQ</a></p> </div> <script type="text/javascript">jQuery(document).ready(function() {
                jQuery(".sofunzt").click(function() {
                  jQuery('.ovlayDesktop').fadeIn();
                  jQuery('.ovilayMobile').fadeIn();
                  jQuery('.ovlayBg').fadeIn();
                });
              });</script> <p class="navbar-text navbar-right hidden-xs"><!--<a class="navbar-link sofunzt" style="cursor:pointer;">So funktioniert's</a>&nbsp;--><a href="/#/faq" class="navbar-link" onclick="ga('send', 'event', 'Website', 'faq')">FAQ</a></p> </div> <!-- /.container --> </nav> <!-- / navbar desktop app --> <!-- navbar mobile app--> <nav class="navbar visible-xs" style="display:none !important" role="navigation" ng-if="$location.path()=='/deals' || $location.path()=='/congratulations'"> <div class="container-fluid"> <div class="navbar-header"> <a class="navbar-brand logo-app hvr-buzz-out hidden-sm hidden-md hidden-lg" href="/#/deals" offset="80" du-smooth-scroll du-scrollspy> <img src="images/shparnold-icon.14f98a1c.png"> <span style="color:#333">CROSHO</span> </a> <a class="navbar-brand logo hvr-buzz-out hidden-xs" href="#_slider" offset="80" du-smooth-scroll du-scrollspy> <img src="images/shparnold-icon.14f98a1c.png"> <span>Crosho</span> </a> </div> </div> <!-- /.container --> </nav> <!-- navbar --> </div>