<section class="container crosho-plain" style="height: 85vh"> <div class="row"> <div class="col-xs-12"> <h2>Impressum</h2> <p>Crosho GmbH</p> <h3>Informationspflicht laut § 5 E-Commerce-Gesetz</h3> <br> <p><b>Medieninhaber</b> <br> Crosho GmbH <br> Badhausgasse 1-3/28 <br> A - 1070 Wien <br> </p> <br> <p><b>Kontakt</b> <br> <a href="mailto:office@crosho.com">office@crosho.com</a> <br> +43 (0)1 305 34 44</p> <br> <p><b>UID-Nummer</b> <br> ATU69931719 </p> <br> <p><b>Firmenbuchgericht</b> <br> Wien </p> <p><b>Firmenbuchnummer </b> <br> FN 440936 k </p> <br> <p><b>Geschäftsführer</b> <br> Mag. Maximilian König</p> <br> <p><b>Behörde gem. ECG (E-Commerce Gesetz)</b> <br> Magistratisches Bezirksamt für den 7. Wiener Gemeindebezirk</p> <br> <p><b>Kammer</b> <br> WKO Wien, Sparte: Handel</p> <br> <p><b>Unternehmensgegenstand</b> <br> Handel mit Waren aller Art mit Ausnahme der reglementierten Handelsgewerbe und Handelsagent</p> <br> <p><b>DVR-Nummer</b> <br> DVR-Nr.: 4014971</p> <br> <p><b>Urheber- und Nutzungsrechte</b> <br> Crosho GmbH <br> <br> Alle Rechte vorbehalten. / All rights reserved. <br> <br> Die Inhalte dieser Website dürfen in keiner Form, weder ganz noch teilweise, ohne ausdrückliche vorherige schriftliche Genehmigung weiterverbreitet oder vervielfältigt werden. <br> <br>Urheberrechte an Titelbild: Oksana Kuzmina, Shutterstock. </p> <p> Die EU-Plattform zur Online-Streitbeilegung erreichen Sie unter www.ec.europa.eu/consumers/odr </p> <br> <br> <br> <br> </div> </div> </section> <script type="text/javascript" src="/images/mail/jquery.feedback_me.js"></script> <script>$(document).ready(function () {
    //set up some minimal options for the feedback_me plugin
    fm_options = {
        show_form : false,
        bootstrap: true,
        trigger_label: 'Kurz Zeit?',
        close_on_click_outside: true,
        title_label: 'Hilf uns, Crosho noch besser zu machen',
        custom_html : '<p>' + 
                      '<a onclick="fm.triggerAction(event);" target="_blank" href="https://docs.google.com/forms/d/1rKLkbZDhpCZHdm8fFao6Tm4ZDfqWu6Ftb5FUxXs3pC8/viewform?c=0&w=1" target="_blank" title="Hilf uns, Crosho besser zu machen">' +
                      'Hast Du kurz Zeit? Dann klicke bitte hier. Wir würden Dir gerne zwei kurze Fragen stellen um Crosho für Dich noch besser zu machen - danke für Deine Hilfe!</a><p>'
    };
 
    //init feedback_me plugin
    //fm.init(fm_options);
});</script>