<div> <div ng-if="smallScreen()" data-ng-include=" 'views/mobile/order.html' "></div> <div ng-if="!smallScreen()" data-ng-include=" 'views/desktop/order.html' " class="fadeIn animated"></div> </div> <script>// InitiateCheckout
// Track when people enter the checkout flow (ex. click/landing page on checkout button)
fbq('track', 'InitiateCheckout');</script> <!-- Google Code for Deal beigetreten Conversion Page --> <script type="text/javascript">/* <![CDATA[ */
var google_conversion_id = 936820309;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "BqtiCJqq5mEQ1fzavgM";
var google_remarketing_only = false;
/* ]]> */</script> <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script> <noscript><div style="display:inline;"> <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/936820309/?label=BqtiCJqq5mEQ1fzavgM&amp;guid=ON&amp;script=0"/> </div></noscript>